{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>My first three.js app</title>
		<style>
			body { margin: 0; }
		</style>
	</head>
	<body>
        <script type="importmap">
            {
              "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@0.170.0/build/three.module.js",
                "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.170.0/examples/jsm/"
              }
            }
        </script>
		<script type="module">
            import * as THREE from 'three';
            import { FBXLoader } from 'three/addons/loaders/FBXLoader.js'

            const scene = new THREE.Scene();
            const camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );
            scene.add(new THREE.AxesHelper(5))
            const renderer = new THREE.WebGLRenderer();
            renderer.setSize( window.innerWidth, window.innerHeight );
            renderer.setAnimationLoop( animate );
            document.body.appendChild( renderer.domElement );
{% for modello in modelli%}

const fbxLoader = new FBXLoader()
fbxLoader.load(
    '{% static  modello %}',
    //'{{modello}}',
    (object) => {
      
        scene.add(object)
    },
    (xhr) => {
        console.log((xhr.loaded / xhr.total) * 100 + '% loaded')
    },
    (error) => {
        console.log(error)
    }
);
            
{% endfor%}


            camera.position.z = 5;

            function animate() {

                //cube.position.x += 0.01;
                //cube.position.y += 0.01;

                renderer.render( scene, camera );

            }

        </script>

	</body>
</html>